
body {
    font-family: 'Lato', sans-serif;
}

/* Extracted with the help of https://google-webfonts-helper.herokuapp.com/fonts/lato?subsets=latin */
/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/lato-v17-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/lato-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/lato-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/lato-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('/fonts/lato-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/lato-v17-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}
